.App {
  text-align: center;
  margin: 20px auto;
  width: 1000px;
  font-family: 'Montserrat', sans-serif;

}



.Nav-bar {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  
  
}
.Nav-outer {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.theme-btn{
  margin-top: 0px;
}
.Nav-link {
  margin: 0 30px 0 30px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  list-style: none;
  color: rgb(142, 139, 139);
}

.Logo-link {
  margin-left: -100px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(142, 139, 139);
}
.page-image{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: auto;
  height: 100px;
  margin-top: 50px;
}

.title-box {
  margin: 30px;
  display: flex;
  justify-content: center;
}

.App-link {
  color: linear-gradient(#dfe0e3, #4c4b4f);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
